@charset "utf-8";

*{
padding:0px;
margin:0px;
}

body{
background-image:url(../image/blues.jpg);
}

#wrapper,#main_box,nav{
background:#E2EBFE;
}

#wrapper,header,footer{
width:1000px;
}

#wrapper{
height:1050px;
margin:auto;
box-shadow:0px 0px 20px 15px white;
}

header,#content,#main,h1,table,td,input,imput:focus,label,li,a.nav,a.active{
background:#F7F7F7;
}

table{
border:solid;
border-radius:10px;
}

header{
height:150px;
}

#header_img{
background-image:url(../image/header_back.png);
height: 150px;
width:200px;
}

#heading{
color:#EE6682;
font-size:2em;
margin-left:25px;
font-family:verdana;
margin-top:35px;
}

#head{
height:150px;
width:800px;
float:right;
background-image:url(../image/header_back.png);
}

#main_box,#content,#main,#intro,#prj1_img,#news_img,#service1,#service4,#img_news{
position:absolute;
}

#main_box{
height:600px;
width:960px;
margin-left:15px;
margin-top:20px;
}

#content{
height:575px;
width:860px;
box-shadow:5px 8px 15px #560505, inset 0px 0px 5px 3px #222;
border:solid;
border-width:2px;
border-radius:15px;
}

#main{
height:550px;
width:840px;
margin:10px;
overflow:auto;
}

#image{
height:300px;
width:820px;
border-radius:15px;
}

#intro{
width:330px;
border:solid;
margin-top:5px;
padding:5px;
border-radius:10px;
box-shadow:inset 0px 0px 3px 1px #691A60;
}

#introduction{
margin-top:20px;
width:450px;
margin-left:360px;
}

#introduction_image{
width:450px;
border-radius:150px 50px;
}

h1,h2{
color:rgba(167, 10, 10, 1);
}

p.introhead{
color:rgba(167, 10, 10, 1);
font-family: Arial, Geneva, Helvetica, sans-serif;
font-size:1.3em;
}

p.myparagraph{
background:#F8FDD5;
font-family:verdana;
font-size:0.90em;
}

#band{
border:solid;
margin-top:375px;
}

img.band_img{
margin-top: 15px;
height:360px;
width:850px;
position:absolute;
}

div.band_description{
margin-left:270px;
}




#artist1,#artist2,#artist3,#artist4,#artist5,#artist6,#artist7,#artist8,#artist9,#artist10,#artist11{
height:200px;
border:solid;
padding:10px;
border-radius:20px;
box-shadow:inset 0px 0px 10px 2px rgba(66, 7, 59, 1);
}




nav{
height:300px;
width:100px;
float:right;
margin-top:68px;
margin-right:20px;
box-shadow:5px 8px 15px #560505;
position:relative;
}

footer{
height:100px;
margin-top:800px;
background-image:url(../image/bg-footer.jpg);
}

#copyright{
margin-top: 45px;
position: absolute;
color:green;
font-size:1em;
font-family:monospaced;
}

#rect1,#rect2,#rect3,#rect4,#rect5,#rect6,#rect7{
background:black;
height:5px;
width:10px;
float:right;
}

#rect1{
margin-top:75px;
position:relative;
}

#rect2{
margin-top:124px;
position:relative;
}

#rect3{
margin-top:170px;
}

#rect4{
margin-top:215px;
}

#rect5{
margin-top:261px;
}

#rect6{
margin-top:307px;
}

#rect7{
margin-top:353px;
}

li{
list-style:none;
margin-top:20px;
text-align:center;
border:solid;
}

a.nav{
text-decoration:none;
color:green;
box-shadow:-2px -2px 6px 4px #560505;
}

nav ul li a:hover{
background:pink;
box-shadow:inset 2px 2px 5px #222, 0px 0px 30px #fff;
}

a.active{
box-shadow:inset 2px 2px 5px #222, 0px 0px 30px #fff;
text-decoration:none;
color:green;
}
